{
  "openapi": "3.0.3",
  "info": {
    "title": "黑胡子 AI Responses API",
    "version": "2026-09-10",
    "description": "2026-09-10 生产接口实际验证的 Responses 输入。"
  },
  "servers": [
    {
      "url": "https://code.heihuzi.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Responses",
        "description": "文本、图片输入和函数调用的具体实测范围见本页。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "已验证文本模型：gpt-5.5、gpt-5.6-luna、gpt-5.6-sol、gpt-5.6-terra、gpt-6-astra。扩展输入和流式测试使用 gpt-5.5。",
                    "example": "gpt-5.5"
                  },
                  "input": {
                    "description": "字符串，或消息 / 函数结果数组。本页已测消息内容为字符串、input_text + input_image Data URL，以及 function_call_output。",
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "Reply with exactly API_OK."
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "example": [
                          {
                            "role": "user",
                            "content": "Reply with exactly API_OK."
                          }
                        ]
                      }
                    ]
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "gpt-5.5 已验证 JSON 和 SSE。"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "已验证自定义 add 函数的参数传递和结果回传，完整格式见本页可执行示例。"
                  },
                  "tool_choice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "已验证 {\"type\":\"function\",\"name\":\"add\"}。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON 文本位于 output 消息的 content；SSE 实测事件包括 response.output_text.delta 和 response.completed。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "object": "response",
                  "status": "completed",
                  "output": [
                    {
                      "id": "msg_0e0caf29cbdbf6a6016aa2370876a087d08ec5232de4e272aa",
                      "type": "message",
                      "status": "completed",
                      "content": [
                        {
                          "type": "output_text",
                          "annotations": [],
                          "logprobs": [],
                          "text": "API_OK"
                        }
                      ],
                      "phase": "final_answer",
                      "role": "assistant"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Responses SSE 事件，例如 response.output_text.delta 和 response.completed。"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
