{
  "openapi": "3.0.3",
  "info": {
    "title": "黑胡子 AI Responses API",
    "version": "2026-09-13",
    "description": "2026-09-13 当前生产接口实际验证的 Responses 输入。"
  },
  "servers": [
    {
      "url": "https://code.heihuzi.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Responses",
        "description": "文本、图片输入和函数调用的具体实测范围见本页。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "additionalProperties": true,
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "已验证文本模型：gpt-5.5、gpt-5.6-luna、gpt-5.6-sol、gpt-5.6-terra、gpt-6-astra。扩展输入和流式测试使用 gpt-5.5。",
                    "example": "gpt-5.5"
                  },
                  "input": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "消息和函数结果数组。已验证文本消息、input_text + input_image Data URL、完整对话历史和 function_call_output。gpt-5.5 字符串 input 实测返回 400。",
                    "example": [
                      {
                        "role": "user",
                        "content": "Reply with exactly API_OK."
                      }
                    ]
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "gpt-5.5 已验证 JSON 和 SSE。"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "已验证自定义 add 函数的参数传递和结果回传，完整格式见本页可执行示例。"
                  },
                  "tool_choice": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "已验证 {\"type\":\"function\",\"name\":\"add\"}。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON 文本位于 output 消息的 content；SSE 须检查 response.completed，收到 response.failed 应按失败处理。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "object": "response",
                  "status": "completed",
                  "output": [
                    {
                      "id": "msg_063f82d40163fb4f016aa62e62e2e887d195ea8f0014a05b61",
                      "type": "message",
                      "status": "completed",
                      "content": [
                        {
                          "type": "output_text",
                          "annotations": [],
                          "logprobs": [],
                          "text": "API_OK"
                        }
                      ],
                      "phase": "final_answer",
                      "role": "assistant"
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Responses SSE 事件，例如 response.output_text.delta 和 response.completed。"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
